# See https://php.watch/articles/composer-gitattributes
/.github           export-ignore
/tests             export-ignore

/.gitignore        export-ignore
/.gitattributes    export-ignore
/phpunit.xml.dist  export-ignore
/.php-cs-fixer.dist.php  export-ignore